rest-api/config/options/all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://marklogic.com/cts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="collection-query" type="cts:collection-queryType" xmlns:cts="http://marklogic.com/cts"/>
  <xs:element name="and-query" type="cts:and-queryType" xmlns:cts="http://marklogic.com/cts"/>
  <xs:complexType name="collection-queryType">
    <xs:sequence>
      <xs:element type="xs:string" name="uri"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="and-queryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="strength"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>